certifi==2018.11.29
chardet==3.0.4
Click==7.0
cycler==0.10.0
dlib==19.16.0
face-recognition==1.2.3
face-recognition-models==0.3.0
Flask==1.0.2
gunicorn==19.9.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
kiwisolver==1.0.1
MarkupSafe==1.1.0
matplotlib==3.0.2
numpy==1.15.4
Pillow==8.2.0
pyparsing==2.3.0
python-dateutil==2.7.5
requests==2.21.0
six==1.12.0
urllib3==1.24.2
Werkzeug==0.15.3
